body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #fff;
  background-color: #201d2a;
}

/* Loading section */
.loading-screen {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #fff;
  display: flex;
  align-items: center;
}

.loading-logo {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  -webkit-animation: rotate-center 1s cubic-bezier(0.550, 0.055, 0.675, 0.190) infinite both;
  animation: rotate-center 1s cubic-bezier(0.550, 0.055, 0.675, 0.190) infinite both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.page {
  position: relative;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  color: #fff;
  background-image: url("../images/epikode-background.jpg");
  background-size: cover;
  background-color: #2b0949;
}

.bg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ibg-bg {
  position: absolute;
  z-index: -1;
}

.bg-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -o-linear-gradient(145deg, #b13713, #5c258d, #e46600, #03ad00, #4389a2);
  background-image: -webkit-linear-gradient(145deg, #b13713, #5c258d, #e46600, #03ad00, #4389a2);
  background-image: linear-gradient(145deg, #b13713, #5c258d, #e46600, #03ad00, #4389a2);
  /* background-image: linear-gradient(
    145deg,
    #5c258d 14.97%,
    #4389a2 100.57%
  ); */
  z-index: -1;
  background-size: 1200% 1200%;
  -webkit-animation: BgColorAnimation 20s linear infinite;
  -moz-animation: BgColorAnimation 20s linear infinite;
  -ms-animation: BgColorAnimation 20s linear infinite;
  -o-animation: BgColorAnimation 20s linear infinite;
  animation: BgColorAnimation 20s linear infinite;
  opacity: 0.8;
}

@-webkit-keyframes BgColorAnimation {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes BgColorAnimation {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.content-container {
  margin-top: auto;
  margin-bottom: auto;
}

.announcement {
  font-size: 32px;
  margin: 24px 0 18px;
}

.logo {
  width: 200px;
  margin: 18px 0;
}

.brand-title {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 24px;
  font-weight: 400;
  letter-spacing: 8px;
  margin-right: -8px;
}

header {
  margin: 24px 0;
}

h1,
h2 {
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
  font-weight: 300;
}

.cloud-login {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  height: 40px;
  border-radius: 20px;
  padding: 0 24px;
  display: inline-flex;
  background-color: rgba(255, 255, 255, 0.20);
  align-items: center;
  font-weight: 400;
  -webkit-transition: background-color 350ms ease-out;
  -moz-transition: background-color 350ms ease-out;
  -ms-transition: background-color 350ms ease-out;
  -o-transition: background-color 350ms ease-out;
  transition: background-color 350ms ease-out;
}

.cloud-login:hover {
  background-color: #1a9fcf;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .content-container {
    padding: 0 32px;
  }

  .announcement {
    font-size: 24px;
    margin: 0;
  }
  
  .logo {
    width: 120px;
    margin: 16px 0;
  }
  
  .brand-title {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  header {
    margin: 20px 0;
  }
  
  h1,
  h2 {
    font-size: 16px;
    display: inline;
  }
  .ibg-bg {
    display: none;
  }
}

/* Footer and copyright section */
footer {
  margin-bottom: 24px;
}

.copyright {
  font-size: 12px;
}

.copyright a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  -ms-transition: background-color 300ms ease-out;
  -o-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

.copyright a:hover {
  color: #fbff00;
}
